<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

</head>
<body>
	<form action="salvarpessoa" method="post">
		
		<label>Nome</label>
		<input name="nome" type="text"/>
		
		<label>Sobrenome</label>
		<input name="sobrenome" type="text"/>
		<label>Idade</label>
		<input name="idade" type="text"/>
		
		<input type="submit" class=" waves-effect waves-light btn" value="Salvar" >
	</form>
	<br/>
	<a href="/listapessoas" class="waves-effect waves-light btn">listaPessoas</a>
	
	<table>
		<tr th:each = "pessoa: ${pessoas}">
			<td th:text = "${pessoa.id}"></td>
			<td th:text = "${pessoa.nome}"></td>
			<td th:text = "${pessoa.sobrenome}"></td>
			<td th:text = "${pessoa.idade}"></td>
		
		</tr>
	</table>
	

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>