<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
	<title>Cadastro de pessoas</title>
 	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

</head>
<body>
	 
	<h3>Spring Boot com thymeleaf</h3><br/>
	<h5>Cadastro de Telefones</h5>
	 
	<div th:each="p : ${pessoaobj}">
		<div class="row">
			<p><span th:text="${p.id}"></span></p>
			<p><span th:text="${p.nome}"></span></p>
			<p><span th:text="${p.sobrenome}"></span></p>
			<p><span th:text="${p.idade}"></span></p>
		</div>
		</div>
		
		<h5>Telefones</h5>
		
		<div class="row">
			<form th:action="@{/adicionarPessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="post" class="col12">
				<div class="row">
					<div class="input-field col s6">
						<label class="active" for="numero">Número:</label>
						<input id="numero" name="numero" class="validate">
					</div>
					
					<div class="input-field col s6">
						<label class="active" for="tipo">Tipo:</label>
						<input id="tipo" name="tipo" class="validate">
					</div>
				</div>
				<input type="submit" value="Adicionar" class="waves-effect waves-light btn">
			
			</form>
		
		</div>
		
		<table class="striped">
			<tr>
              <th>ID</th>
              <th>Número:</th>
              <th>Tipo:</th>
              <th>Excluir</th>
         	 </tr>
			<tr th:each="fone:${telefones}">
				<td th:text="${fone.id}" ></td>
				<td th:text="${fone.numero}" ></td>
				<td th:text="${fone.tipo}"></td>
				
				<td><a th:href="@{/removerTelefone/{idtelefone}(idtelefone=${fone.id})}">Excluir</a></td>
				
			</tr>
		</table>
	
	<br/>
	<a href="/cadastropessoa" class="waves-effect waves-light btn">Cad.Pessoa</a>
	
	
	

      <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
</body>
</html>